<!-- templates/project2.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet 2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="bg-primary text-white text-center py-1 px-3">
        <h1>Projet 2</h1>
        <p>The fragility index (FI) is a statistical measure used to assess the robustness of the results obtained in clinical trials, particularly in randomized controlled trials (RCTs). The concept was introduced by Walsh et al. in 2014 and has gained attention as a useful tool to better understand the strength of evidence provided by clinical trials.
            The fragility index quantifies how many events need to be changed from a non-event (e.g., no complications) to an event (e.g., complications) in the treatment group to render the results of the trial statistically non-significant. In other words, it indicates how sensitive the results of a clinical trial are to minor changes in the observed data.
        
            A small fragility index suggests that the trial results are less robust and more likely to be influenced by random chance or small variations in the data, while a larger fragility index indicates that the trial results are more robust and less likely to change due to small fluctuations in the data.
        
            It is important to note that the fragility index should not be used in isolation to judge the quality or validity of a clinical trial. Rather, it should be considered alongside other factors, such as the study design, sample size, power, effect size, and the context of existing evidence.</p>
    </header>
    <form class="d-flex d-row justify-content-around pt-3" action="/project2" method="post" enctype="multipart/form-data">
        <label for="x1">X1:</label>
        <input type="number" id="x1" name="x1" required><br>
        <label for="x2">X2:</label>
        <input type="number" id="x2" name="x2" required><br>
        <label for="n1">N1:</label>
        <input type="number" id="n1" name="n1" required><br>
        <label for="n2">N2:</label>
        <input type="number" id="n2" name="n2" required><br>
        <input type="submit" value="Générer le graphique">
    </form>
    {% if plot %}
    <h2>Graphique des résultats</h2>
    <img src="data:image/png;base64,{{ plot }}" alt="Graphique des résultats">
    {% endif %}
</body>
</html>

